@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/fonts.css');

body {
  color: white;
  background: #232942;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(35, 41, 66, 0.7);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.text-outline-white {
  -webkit-text-stroke: 0.5px white;
}

